<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hello, I am Param Rathour.<br />
        </h1>
        <p>You have reached my website.</p>
      </header>
      <p>This website is mainly for the compilation of my academic work. I also run a blog named <a href="/blog">Somewhere Not Here</a>.
      <br>Use the navigation bar to see more.</p>
      <!-- <p>Here's my <a href="{{ site.url }}/blog">blog</a> website if you are curious.</p> -->
      <ul class="actions">
        <li><a href="/about-me" class="button big">About Me</a></li>
        <li><a href="/blog" class="button big">Blog</a></li>
      </ul>
    </div>
    <span class="image object">
      <span data-bs-toggle="tooltip" title="sorry dark mode users, no image for you&#010;stipple effect is not suitable for dark mode by design&#010;either I look too uncanny or you get blasted with white background" >
        <a href="https://youtu.be/GO5FwsblpT8">
          <img src="{{ site.url }}/website-assets/profile-pic-stipples.svg" alt="Profile Pic" />
        </a>
    </span>
    </span>
  </section>
