<head>
  <title>{% if page.title %}{{ page.title }} | {{ site.author }} {% elsif default.title %}{{ default.title }} | {{ site.author }} {% else %} {{ site.author }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="author" content="{{ site.author }}" />

  {% if page.subtitle %}
  <meta name="description" content="{{ page.subtitle }}">
  {% endif %}
  <link rel="icon" href="{{ '/assets/images/favicons/peace.png' | relative_url }}" type="image/x-png" />
  <!--link rel="icon" href="{{ '/assets/images/favicons/peace.ico' | relative_url }}" type="image/x-icon"-->
  <!--[if lte IE 8]><script src="{{ 'assets/js/ie/html5shiv.js' | relative_url }}"></script><![endif]-->
  <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" />
  <!--[if lte IE 9]><link rel="stylesheet" href="{{ 'assets/css/ie9.css' | relative_url }}" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="{{ 'assets/css/ie8.css' | relative_url }}" /><![endif]-->
  <!-- MathJax -->
  <script>
  MathJax = {
    tex: {inlineMath: [['$', '$'], ['\\(', '\\)']]}
  };
  </script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>  
  <!-- <script type="text/javascript">
      var onloadCallback = function() {
        grecaptcha.render('AnonymousContact', {
          'sitekey' : '6Lf6G-4iAAAAAGZqoGSaYvSAF2BE-vU0wNk5YOs5'
        });
      };
    </script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
    </script> -->
    <!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->
  <!-- Return to Top -->
  <a id="return-to-top"><i class="icon fa-chevron-up"></i></a>
</head>
