<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">
      <!--Mode Toggle-->
      <label for="mode" class="switch"><input type="checkbox" id="mode"><span class="slider"></span></label>

      <!-- Search -->
        <!--section id="search" class="alt">
          <form method="post" action="#">
            <input type="text" name="query" id="query" placeholder="Search" />
          </form>
        </section-->

      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>Menu</h2>
          </header>
          <ul>
            <li><a rel="canonical" href="/">Home</a></li>
            <li><a rel="canonical" href="/about-me">About Me</a></li>
            <li>
              <span class="opener">Academics</span>
              <ul>
              <li><a rel="canonical" href="/courses">Courses</a></li>
              <li><a rel="canonical" href="/time-table">Time Table</a></li>
              <li><a rel="canonical" href="/projects">Projects</a></li>
              <li><a rel="canonical" href="/more-stuff">Math Expositions</a></li>
              </ul>
            </li>
            <li>
              <span class="opener">Tutorials</span>
              <ul>
              <li><a rel="canonical" href="/cs101">CS 101</a></li>
              <li><a rel="canonical" href="/blog/latex-tips">LaTeX</a></li>
              </ul>
            </li>
              <li><a href="{{ site.url }}/Resumes/CV.pdf">Résumé</a></li>
              <li><a rel="canonical" href="/blog">Blog</a></li>
              <li><a rel="canonical" href="/random-stuff">Random Stuff</a></li>
          </ul>
        </nav>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>Get in touch</h2>
          </header>
          <!--p>If you have something to tell and wish to do so anonymously, you may drop a message <a href="https://forms.gle/Dt6i4iTxfmYdmd1YA">here</a>.</p-->
          <ul class="contact">
            <!-- <li class="fa-envelope"><a href="mailto:{{ site.email }}">{{ site.email }}</a></li> -->
            <li class="fa-envelope-o"><a href="mailto:{{ site.instiemail }}">{{ site.instiemail }}</a></li>
            <!--li class="fa-phone">{{ site.phone }}</li-->
            <li class="fa-home">{{ site.street_address }}<br />
            {{ site.city }}, {{ site.state }} {{ site.zip_code }}<br />
            {{ site.country }}</li>
          </ul>
        </section>
        <section>
          <header class="major">
            <h2>Anonymous Contact</h2>
          </header>
            <p><b>Feel free to leave any message here!</b></p>
        
        <!-- <Anonymous Form> -->
        <form method="POST" action="https://formspree.io/f/xzbwyryg" target="_blank">
            <div class="row uniform">
                <div class="12u$">
                    <input type="text" name="Pseudonym" id="Pseudonym" value="" placeholder="Pseudonym" required/>
                </div>
                <div class="12u$">
                    <textarea type="text" name="Message" id="Message" placeholder="Enter your message" rows="4" required></textarea>
                </div>
                <!-- <Break> -->
                <!-- <div class="12u$(small)">
                <b>Bungee gum has the properties of?</b><br>
                    <input type="checkbox" id="Rubber" name="Rubber"/>
                    <label for="Rubber">Rubber</label>
                    <input type="checkbox" id="Gum" name="Gum"/>
                    <label for="Gum">Gum</label>
                </div> -->
                <!-- <Break> -->
                <div class="12u$ recaptcha" >
                    <div id="AnonymousContact"></div>
                    <br>
                    <ul class="actions">
                        <li><input type="submit" value="Send Message" class="special" /></li>
                        <li><input type="reset" value="Reset" /></li>
                    </ul>
                </div>
            </div>
        </form>
        </section>
      <!-- Footer -->
        <footer id="footer">
          <p class="copyright">&copy; {{ site.title }}. <span data-bs-toggle="tooltip" data-bs-placement="top" title="Except where otherwise noted, the information on this site is licensed under the Creative Commons Attribution 4.0 International (CC BY 4.0) License by the author." >Some rights reserved.</span> Design: <a href="https://html5up.net">HTML5 UP</a>. Jekyll integration: <a href="https://andrewbanchi.ch">Andrew Banchich</a> Hosted by <a href="https://pages.github.com/">Github Pages</a>.</p>
        </footer>
    </div>
  </div>