<!DOCTYPE HTML>

<html>

{% include head.html %}

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                {% include header.html %}

                <!-- Content -->
                <section>
                	<header class="main">
                    {% if page.title %}
                		<h1 align="center">{{ page.title }}</h1>
                    {% endif %}
                	</header>

                  {% if page.image %}
                    {% if page.url %}
                        <a href="{{page.url}}" class="image main"><img src="{{page.image}}" alt="" /></a>
                    {% else %}
                        <span class="image main"><img src="{{page.image}}" alt="" /></span>
                    {% endif %}
                  {% endif %}

                {{ content }}

              </div>
          </div>

          {% include sidebar.html %}

      </div>

      {% include footer.html %}

</body>

</html>
